.hero {
  display: flex;
  flex-wrap: wrap;
  .flex {
    flex: 1;
  }
  border-bottom: 10px solid black;
}

.image-container {
  position: relative;
  border-right: solid 15px black;
  .steve-image {
    width: 100%;
  }
  .steve-quote {
    position: absolute;
    top: 45%;
    left: 10%;
    background: blueviolet;
    border: 5px solid black;
    color: white;
    padding: 1rem;
  }
}

.about-container {
  background: antiquewhite;
  color: black;
  .one-more-thing {
    font-size: 15rem;
    padding: 1rem;
  }
  p {
    font-size: 2rem;
    padding: 1rem;
  }
  span {
    color: red;
  }
}
