.icons {
  height: 10vh;
  padding: 1rem;
}

h1 {
  font-size: $header1;
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  text-shadow: 3px 3px white;
  font-family: "Anton", sans-serif;
  font-weight: 900;
}

.logo {
  display: flex;
  flex: 1 1 auto;

  .logo-icon {
    height: 10vh;
    margin: 1rem 1rem 1rem 10rem;
    fill: rgb(27, 20, 20);
    stroke: black;
    stroke-width: 5px;
    animation: logoApple 3s ease-in-out infinite;
    &:hover {
      fill: rgb(255, 255, 255);
      height: 11vh;
      transition: 0.4s ease-in;
    }
  }
}

ul {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  a {
    text-decoration: none;
    color: black;
    padding: 2rem;
    font-size: $header2;
    text-shadow: 3px 3px white;
    font-family: "Anton", sans-serif;
  }

  .icon-github {
    height: 5vh;
    fill: rgb(14, 12, 12);
    &:hover {
      fill: rgb(255, 255, 255);
      height: 6vh;
      transition: 0.4s ease-in;
    }
  }

  .icon-linked {
    height: 5vh;
    fill: rgb(14, 12, 12);
    &:hover {
      fill: rgb(255, 255, 255);
      height: 6vh;
      transition: 0.4s ease-in;
    }
  }

  .active {
    background: blueviolet;
    border-radius: 10px;
    border: 3px solid white;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  padding: 5rem;
  border-bottom: 10px dashed white;
}

@keyframes logoApple {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
