.product-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  h5 {
    font-size: $bigFont;
    background: yellow;
    padding: 2rem 5rem;
    box-shadow: 1rem 1rem red, 2rem 2rem rgb(134, 0, 211);
    border-top: 5px solid black;
    border-left: 10px solid black;
  }
}

.product-items:nth-child(1) {
  background-image: url(../img/iphone.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.product-items:nth-child(2) {
  background-image: url(../img/ipad.jpg);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.product-items:nth-child(3) {
  background-image: url(../img/imac.jpeg);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}
