$header1: 4rem;
$header2: 3.5rem;
$header3: 2rem;
$text: 1.5rem;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "nav";
@import "hero";
@import "products";
