* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.icons {
  height: 10vh;
  padding: 1rem;
}

h1 {
  font-size: 4rem;
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  text-shadow: 3px 3px white;
  font-family: "Anton", sans-serif;
  font-weight: 900;
}

.logo {
  display: flex;
  flex: 1 1 auto;
}
.logo .logo-icon {
  height: 10vh;
  margin: 1rem 1rem 1rem 10rem;
  fill: #1b1414;
  stroke: black;
  stroke-width: 5px;
  -webkit-animation: logoApple 3s ease-in-out infinite;
          animation: logoApple 3s ease-in-out infinite;
}
.logo .logo-icon:hover {
  fill: white;
  height: 11vh;
  transition: 0.4s ease-in;
}

ul {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
ul a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  font-size: 3.5rem;
  text-shadow: 3px 3px white;
  font-family: "Anton", sans-serif;
}
ul .icon-github {
  height: 5vh;
  fill: #0e0c0c;
}
ul .icon-github:hover {
  fill: white;
  height: 6vh;
  transition: 0.4s ease-in;
}
ul .icon-linked {
  height: 5vh;
  fill: #0e0c0c;
}
ul .icon-linked:hover {
  fill: white;
  height: 6vh;
  transition: 0.4s ease-in;
}
ul .active {
  background: blueviolet;
  border-radius: 10px;
  border: 3px solid white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  padding: 5rem;
  border-bottom: 10px dashed white;
}

@-webkit-keyframes logoApple {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes logoApple {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.hero {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 10px solid black;
}
.hero .flex {
  flex: 1;
}

.image-container {
  position: relative;
  border-right: solid 15px black;
}
.image-container .steve-image {
  width: 100%;
}
.image-container .steve-quote {
  position: absolute;
  top: 45%;
  left: 10%;
  background: blueviolet;
  border: 5px solid black;
  color: white;
  padding: 1rem;
}

.about-container {
  background: antiquewhite;
  color: black;
}
.about-container .one-more-thing {
  font-size: 15rem;
  padding: 1rem;
}
.about-container p {
  font-size: 2rem;
  padding: 1rem;
}
.about-container span {
  color: red;
}

.product-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.product-items h5 {
  font-size: 15rem;
  background: yellow;
  padding: 2rem 5rem;
  box-shadow: 1rem 1rem red, 2rem 2rem #8600d3;
  border-top: 5px solid black;
  border-left: 10px solid black;
}

.product-items:nth-child(1) {
  background-image: url(../img/iphone.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.product-items:nth-child(2) {
  background-image: url(../img/ipad.jpg);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.product-items:nth-child(3) {
  background-image: url(../img/imac.jpeg);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.author {
  display: flex;
  flex-wrap: wrap;
  border-top: 5px solid black;
  height: 100vh;
}
.author .flex {
  flex: 1;
}

.author-image {
  background: blueviolet;
  border-right: 10px solid black;
}
.author-image .contact-txt {
  font-size: 15rem;
}
.author-image .author-img {
  width: 100%;
}

.author-form {
  background: antiquewhite;
}
.author-form .contact-txt {
  font-size: 15rem;
}
.author-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author-form form label {
  margin: 1rem;
}
.author-form form input {
  padding: 1rem;
  margin: 1rem;
}
.author-form form textarea {
  margin: 4rem;
}
.author-form form button {
  border: none;
  padding: 2rem 4rem;
  width: 50%;
  background: blueviolet;
  color: white;
  font-size: 3rem;
  font-family: ANton;
  border: 5px solid black;
}/*# sourceMappingURL=style.css.map */